@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}
@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: neu;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    /* background-color: black; */
    position: relative;
    z-index: 10;
}
.page1{
     min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}
nav{
    padding: 2vw 0vw ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 104;
}  
nav h3{
    display: none;
}
.nav-part2{
      display: flex;
      gap: 1vw;
      align-items: center;
      
}
.nav-part2 a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.718);
    text-transform: capitalize;
    position: relative;
    z-index: 9;
}
.nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid #00000058;
    border-radius: 50px;
     
    color: rgba(0, 0, 0, 0.721);
    font-size: 18px;
    position: relative;
    overflow: hidden;
}
.nav-part2 h4::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black ;
    position: absolute;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}
.nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
    transition: all ease 0.4s;
}
.nav-part2 h4:hover a{
    color: white;
}
.center{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(4, 4, 4, 0.301);
    padding-bottom: 2.5vw;
     
}
.left h3{
     width: 25vw;
     font-size: 1.8vw;
     line-height: 2vw;
     font-weight: 500;
}
.center h1{
    font-size: 10vw;
     line-height: 8vw;
     text-align: right;
}
.page1 video{
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
     position: relative;
}
.hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    background-color:#FE330A;
     border-top-left-radius: 50%;
     border-bottom-left-radius: 50%;
    right: 0;
    top: 73vh;
    filter: blur(20px);
}
.hero-1{
    height: 100%;
    width: 100%;
    background-color:#FE330A;
    border-top-left-radius: 50%;
     border-bottom-left-radius: 50%;
     filter: blur(20px);
     position: absolute;
}
.hero-2{
    height: 30vw;
    width: 30vw;
    background-color:#FE330A;
    border-radius: 50%;
     filter: blur(20px);
     position: absolute;
     animation-name: anime1;
     animation-duration: 3s;
     animation-timing-function: linear;
     animation-direction: alternate;
     animation-iteration-count: infinite;
}
.hero-3{
    height: 30vw;
    width: 30vw;
    background-color: #FE330A;
    border-radius: 50%;
     filter: blur(20px);
     position: absolute;
     animation-name: anime1;
     animation-duration: 3s;
     animation-timing-function: linear;
     animation-direction: alternate;
     animation-iteration-count: infinite;
}
@keyframes anime1 {
 from{
    transform: translate(-15%,15%);
 }
 to{
    transform: translate(15%,-15%);
 }
}
.page2{
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
    white-space: nowrap;
    padding: 8vw 0;
    position: relative;
}
.moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
.gola{
    height: 70px;
    width:  70px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
}
.page2-bottom h1{
    font-size: 4vw;
    width: 50%;
    line-height: 4vw;
     
}
.bottom-part2{
    width: 20%;
    margin-top: 15vw;
}
.bottom-part2 img{
  width: 100%;
  border-radius: 15px;
}
.bottom-part2 p{
font-weight: 100; 
  margin-top: 2vw;
  font-size: 1vw;
}
.page2 .gooey{
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 58%;
    background: linear-gradient(   to top,#e42c07 , #fd5908);
    top: 60%;
    left: 20%;
    filter: blur(50px);
    animation-name: gooey;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 @keyframes gooey {
    from{
        transform: translate(10% ,-10%) skew(0);
    }
    to{
        transform: translate(-10%,10%) skew(13deg);
    }
 }
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
 .page3 #img , h3{
    display: inline-block;
    padding: 0 3px;
    font-weight: 100;
    font-size: 1vw;

 }
 #img{
    margin-left: 30px;
    height: 8px;
    width: 14px;
 }
.elem{
    height: 150px;
    width: 100%;
    
    border-bottom: 1px solid #00000078;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem h2{
    font-size: 3vw;
    position: relative;
    padding: 0 2vw;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: #FF9831 ;
    position: absolute ;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay{
    top: 0;
}
 
.fixed-image{
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 10px;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}
.page3-bottom{
    height: 100vh;
    width: 100%;
     padding: 5vw 4vw;
      padding-bottom: 0;
}
.black-box{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
     border-top-right-radius: 18px;
     border-bottom-right-radius: 18px;
}
.left-side{
    height: 100%;
    width: 50%;
    margin-top: 130px;
}
.left-side h1{
 text-align: left;
 color: white;
 margin-left: 25%;
 font-size: 5vw;
}
#h1{
    color: rgb(70, 68, 68);
}
.left-side p{
    color: white;
    font-weight: 100;
    width: 43%;
     margin-left:25% ;
     margin-top: 20px;
}
.right-side {
    height: 100%;
    width: 50%;
      
}
.right-side img{
      height: 100%;
      width: 100%;
      border-radius: 18px;
}





.page4{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    z-index: 100;
    padding: 10vw 2vw;
}
.page5{
    height: 70vh;
    width: 100%;
      
}



.swiper {
    width: 100%;
    height: 100%;
    padding: 3vw;
  }

  .swiper-slide {
    
    font-size: 18px;
    /* background: #fff; */
    width: 30%;
    border-left: 1px solid #0000009e;
    padding: 0 2vw;
  }
  .swiper-slide p{
    font-weight: 100;
    text-align: left;
    margin-top: 3vw;
  }

   

   

  
.footer{
    position: fixed;
    z-index: 9;
    height: 100vh;
    width: 100%;
    bottom: 0;
    background-color: black;
    display: flex;
     
    justify-content: flex-end;
    flex-direction: column;
}
.footer h1{
     color: white;
   font-size: 20vw;
    margin-left: 100px;
     
}
.gooey-bottom{
    height: 50vh;
    width: 100%;
    background-color: #e42c07;
     display: flex;
     justify-content: space-between;
      position: relative;
     filter: blur(29px);
      
}
 .gooey-botom1{
    height: 100%;
    width: 100%;
    background-color:#e42c07;
    position: absolute;
    top: 20%;
    animation-name: anime7;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 30%;
 }
 .gooey-botom2{
    height: 100%;
    width: 100%;
    background-color: #e42c07;
    position: absolute;
    right: 0;
    top: 20%;
    animation-name: anime7;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 30%;
 }
 @keyframes anime7 {
    from{
       transform: translate(37%,-30%)skew(10deg);
    }
    to{
       transform: translate(-37%,30%);
    }
   }


 
  





   @media (max-width:600px) {
    
.page1{
    min-height: 100vh;
   width: 100vw;
    
   padding: 0 0vw;
}

nav{
   padding: 8vw 5vw;
  background-color:#EFEAE3 ;

 
} 
nav h3{
    display: block;
    padding:3vw 5vw ;
    border: 1px solid #ababab;
    border-radius: 50px;
    font-size: 4vw ;
    font-weight: 200;
}
nav img{
    transition: all ease 0.4s;
    height: 9vh;
} 
.nav-part2{
 display: none;
}
 
    

.full-scr{
    height: 100vh;
    width: 100%;
    background-color: #000000aa;
     z-index: 100;
    top: -100%;
    position: fixed;
    transition: all ease 0.5s;
    
}
.full-div1{
height: 50%;
width: 100%;
background-color: #EFEAE3;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
text-align: center;

 
}
.full-scr h1{
     margin-top: -200px;
      text-align: right;
      padding: 0 5vw;
      font-size: 10vw;
}

.center{
    height: 62vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(4, 4, 4, 0.301);
    padding-bottom: 10vw;
     flex-direction: column-reverse;
     padding: 7vw 5vw;
     position: relative;
     z-index: 9;
}
.left h3{
     width: 80%;
     font-size: 5.5vw;
     line-height:6vw;
     font-weight: 500;
}
.center h1{
    font-size: 17vw;
     line-height: 15vw;
     text-align: right;
}
.page1 video{
    border-radius: 15px;
    margin-top: 4vw;
    width: 92%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    margin-left: 4%;
     position: relative;
}
.hero-shape{
    position: absolute;
    width: 82vw;
    height: 76vw;
    top: 65vh;
     
}

.page2{
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
    white-space: nowrap;
    padding: 8vw 0;
    position: relative;
}
.moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
.moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.moving-text h1{
    font-size: 15vw;
    display: inline-block;
}
.gola{
    height: 25px;
    width:  25px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 2vw 2vw;
} 

.page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 10vw 7vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    z-index: 99;
}
.page2-bottom h1{
    font-size: 6.3vw;
    width: 100%;
    line-height: 7vw;
     
}
.bottom-part2{
    width: 70%;
    margin-top: 15vw;
}
.bottom-part2 img{
  width: 100%;
  border-radius: 10px;
}
.bottom-part2 p{
font-weight: 100; 
  margin-top: 2vw;
  font-size: 3vw;
}
.page2 .gooey{
    height: 62vw;
    width: 62vw;
    
}
.page3{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4vw 0;
}
  
.elem{
    height: 80px;
    width: 100%;
    
    
}
.elem h2{
    font-size: 4.3vw;
    position: relative;
    padding: 0 2vw;
}
 
 
.fixed-image{
    height: 40vw;
    width: 32vw;
   
}

.page3-bottom{
    height: 60vh;
    width: 100%;
     padding: 5vw 4vw;
      padding-bottom: 0;
}
 
.left-side{
    height: 100%;
    width: 50%;
    margin-top: 80px;
}
.left-side h1{
 text-align: left;
 color: white;
 margin-left: 20%;
 font-size: 8vw;
}
 
.left-side p{
    color: white;
    font-weight: 100;
    width: 70%;
     margin-left:20% ;
     margin-top: 20px;
     font-size: 10px;
}
.right-side {
    height: 100%;
    width: 50%;
      
}
.right-side img{
      
      object-fit: cover;
      object-position: center;
}
.page4{
    height: 60vh;
}
 
.swiper {
    width: 100%;
    height: 100%;
    padding: 5vw;
  }

  .swiper-slide {
    
    font-size: 18px;
    /* background: #fff; */
    width: 70%;
    height: 25vh;
    border-left: 1px solid #0000009e;
    padding: 0 2vw;
  }
  .swiper-slide p{
    font-weight: 100;
    text-align: left;
    margin-top: 3vw;
    font-size: 3vw;
  }

    
.footer{
    position: fixed;
    z-index: 9;
    height: 90vh;
    width: 100%;
    bottom: 0;
    background-color: black;
    display: flex;
     
    justify-content: flex-end;
    flex-direction: column;
}
.footer h1{
     color: white;
   font-size: 20vw;
    margin-left: 35px;
     
}
.page5{
    height: 30vh;
    bottom: 0;
}
.gooey-bottom{
    height: 32vh;
    width: 100%;
    background-color: #e42c07;
     display: flex;
     justify-content: space-between;
      position: relative;
     filter: blur(29px);
      
}
 .gooey-botom1{
    height: 100%;
    width: 100%;
    background-color:#e42c07;
    position: absolute;
    top: -50%;
    animation-name: anime7;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 30%;
 }
 .gooey-botom2{
    height: 100%;
    width: 100%;
    background-color: #e42c07;
    position: absolute;
    right: 0;
    top: 20%;
    animation-name: anime7;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 30%;
 }

   
}

.page5{
     display: none;
}



.loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 500;
    top: 0;
    transition: all ease 2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .loader h1{
    color:transparent;
    font-size: 4vw;
    background: linear-gradient(to right, orange , orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay:1s;
    animation-timing-function: linear;
 }
 .loader h1:nth-child(2){
  animation-delay: 2s;
 }
 .loader h1:nth-child(3){
    animation-delay: 3s;
   }
 @keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
 }
 @media(max-width:600px) {
    .loader h1{
        font-size: 8vw;
    }
    .page5{
        display: block;
   }
   
 }
 



